* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading-color: rgb(45, 45, 147);
    --text-color: black;
}

body {
   margin: 0;
}

header {
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.839);
    display: flex;
    align-items: center;
    height: 85px;
}

header img{
    width: 120px;
    margin-right: 49%;
}

header h1 {
    display: inline-flex;
    /* background-color: rgb(121, 147, 68); */
    font-size: 3rem;
    color: var(--heading-color);
    margin-left: 15px;
}

header nav{
    display: inline-flex;
    float: right;
    margin-bottom: 65px;
}

header nav ul li {
    display: inline-flex;
    color: blue;
    margin-right: 25px;
    margin-top: 45px;
    font-size: 1.5rem;
}

aside {
    flex: 1;
    color: var(--heading-color);
    /* height: 100%; */
    /* width: 20%; */
    /* position: relative;
    left: 10%; */
    /* top: 50px; */
    /* border-right: solid black; */
}

footer {
    text-align: center;
    font-size: 1rem;
}

aside h2 {
    font-size: 2rem;
    text-align: right;
    padding-right: 10px;
}

.bigger-card h2, .card h2 {
    font-size: 1.5rem;
    /* position: relative;
    bottom: 70px;
    left: 16px;
    background-color: rgb(233, 219, 219);
    margin-right: 46%; */
    padding-left: 2%;

}

.bigger-card h3, .card h3 {
    font-size: 1rem;
    padding-left: 2%;
    /* position: relative;
    bottom: 70px;
    left: 16px;
    background-color: rgb(233, 219, 219);
    margin-right: 60%; */
}

.banner {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient(
    60deg,
    rgb(121, 147, 68),
    rgb(121, 147, 68) 10px,
    black 10px,
    black 30px
);
}

.banner h2 {
   position: relative;
   top: 50%;
   left: 70%;
   background-color:black;
   margin-bottom: 75px;
   padding-top: 15px;
   color: var(--heading-color);
   font-size: 2rem;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

.aside-content {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: center;
    padding-left: 15%;
    padding-right: 5%;
    border-left: solid black;
    
}

.aside-content nav ul li {
    display: inline-block;
    color: blue;
    font-size: 1.5rem;
    margin-right: 20px;
    padding-top: 60px;
    padding-right: 100px;
}

.card {
    flex: 1;
    border: 2px solid black;
    color: var(--heading-color);
    text-align: left;
    margin-bottom: 20px;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.bigger-card {
    flex: 2;
    border: 2px solid black;
    color: var(--heading-color);
    text-align: left;
    margin-bottom: 20px;
    
}

.bigger-card img {
    width: 600px;
    height: 300px;
    object-fit: cover;
}
    
header nav ul li:hover {
    background-color: white;
    color: #fff;
}
      
header nav ul li:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}
      
header nav ul li:focus {
    outline: none;
    border-color: #8ac4ff;
}
      
      
      


@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 50%;
    }
}

