* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading-color: rgb(45, 45, 147);
    --text-color: black;
}

body {
   margin: 0;
}

header {
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.839);
    display: flex;
    align-items: center;
    height: 150px;
}

header img{
    width: 200px;
    margin-right: auto;
}

header h1 {
    display: inline-flex;
    font-size: 3rem;
    color: var(--heading-color);
    margin-left: 15px;
}

header nav{
    margin-bottom: 65px;
}

header nav ul li {
    display: inline-flex;
    color: blue;
    margin-right: 25px;
    margin-top: 45px;
    font-size: 1.5rem;
}

aside {
    flex: 1 1;
    color: var(--heading-color);
}

p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

footer h4 {
    font-size: 1.5rem;
}

aside h2 {
    font-size: 2rem;
    text-align: right;
    padding-right: 10px;
}

.banner {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient(
    60deg,
    rgb(121, 147, 68),
    rgb(121, 147, 68) 10px,
    black 10px,
    black 30px
);
}

.banner h2 {
   position: relative;
   top: 50%;
   left: 70%;
   background-color:black;
   margin-bottom: 75px;
   padding-top: 15px;
   color: var(--heading-color);
   font-size: 2rem;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

.aside-content {
    flex: 4 4;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: left;
    padding-left: 15%;
    padding-right: 5%;
    border-left: solid black;
    
}

.paracontent {
    width: 100%;
}

.aside-content nav ul li {
    display: inline-block;
    color: blue;
    font-size: 1.5rem;
    margin-right: 20px;
    padding-top: 60px;
    padding-right: 100px;
}

.card {
    flex: 2 2 400px;
    height: 200px;
    /* border: 2px solid black; */
    color: var(--heading-color);
    text-align: left;
    margin-bottom: 20px;
    background-size: cover;
}

.card2 {
    background-image: url("../images/delivery.jpeg");
    background-repeat: no-repeat;
}

.card3 {
    background-image: url("../images/NutritionFacts.jpeg");
    background-repeat: no-repeat;
}

.card4 {
    background-image: url("../images/bicycleOnTrail.jpeg");
    background-repeat: no-repeat;
}

.card5 {
    background-image: url("../images/mallMap.jpeg");
    background-repeat: no-repeat;
}

.bigger-card {
    flex: 1 1 100%;
    height: 400px;
    color: var(--heading-color);
    text-align: left;
    margin-bottom: 20px;
    /* margin-right: 14%; */
    background-image: url("../images/htmlcode.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bigger-card h2 {
    font-size: 1.5rem;
    position: relative;
    top: 320px;
    left: 16px;
    background-color: rgba(213, 197, 197, 0.877);
    margin-right: 76%;
    padding-left: 2%;

}

.card h2 {
    font-size: 1.1rem;
    position: relative;
    top: 140px;
    left: 10px;
    background-color: rgba(213, 197, 197, 0.877);
    margin-right: 56%;
    padding-left: 2%;

}

header nav ul li:hover {
    background-color: white;
    color: red;
}

.card a:hover {
    background-color: white;
    color: red;
}
      
.bigger-card a:hover {
    background-color: white;
    color: red;
}

.aside-content nav ul li a:hover {
    background-color: white;
    color: red;
}

@media screen and (max-width: 992px) {
    header nav {
        flex-direction: column; 
        align-items: flex-end; 
    }
    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .banner h2 {
        display: none;
     }
}

@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column; 
        align-items: flex-end;
        display: none; 
    }
    .banner h2 {
       display: none;
    }
}

