* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading-color: rgb(45, 45, 147);
    --text-color: black;
}

body {
   margin: 0;
   display: inline-flex
   flex-wrap: wrap;
   justify-content: space-evenly;
}

header {
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.839);
    display: flex;
    align-items: center;
    height: 85px;
}

header h1 {
    display: inline-flex;
    background-color: rgb(121, 147, 68);
    font-size: 3rem;
    color: var(--heading-color);
    margin-left: 15px;
}

header nav{
    display: inline-flex;
    float: right;
    margin-bottom: 65px;
}

header nav ul li {
    display: inline-flex;
    color: blue;
    margin-right: 25px;
    margin-top: 45px;
    font-size: 1.5rem;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3rem;
}


aside {
    flex: 1;
    color: var(--heading-color);
    /* height: 100%; */
    /* width: 20%; */
    /* position: relative;
    left: 10%; */
    /* top: 50px; */
    /* border-right: solid black; */
}

aside h2 {
    font-size: 2rem;
    text-align: right;
    padding-right: 10px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

.banner {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient(
    60deg,
    rgb(121, 147, 68),
    rgb(121, 147, 68) 10px,
    black 10px,
    black 30px
);
}

.banner h2 {
   position: relative;
   top: 50%;
   left: 70%;
   color: white;
}

.aside-content {
    flex: 4;
    font-size: 18px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    border-left: solid black;
}

.aside-content nav ul li {
    display: inline-block;
    color: blue;
    font-size: 1.5rem;
    margin-right: 20px;
    padding-top: 60px;
    padding-right: 100px;
}

.card {
    flex: 1;
    border: 2px solid black;
    color: var(--heading-color);
    text-align: left;
    background-color: red;
    /* height: 100%;
    width: 100%; */
    /* padding: 2rem 1rem 1rem;
    position: relative; */
}

.bigger-card {
    flex: 2;
    border: 2px solid black;
    color: var(--heading-color);
    text-align: left;
    background-color: red;
}
@media screen and (max-width: 992px) {
    .card {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }
}

